<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/tasks/leave_comment/{{task.id}}/{{column.id}}/{{board.id}}" class="form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <textarea name="text" class="form-control" placeholder="Ваш комментарий" rows="3"></textarea>
        </div>
        <div class="text-right">

    <!--                                          <a href="tasks/leave_comment/{{task.id}}/{{board.id}}"><input type="submit"  class="btn btn-primary"></a>-->
            <button type="submit" class="btn btn-primary">Отправить</button>

        </div>
    </form>
    </body>
</html>